#request .wrapper {
  justify-content: space-around;
}

.request-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
/*  padding-left: 100px;*/
}

.request-form {
  width: 400px;
  padding: 30px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2em;
  border-radius: 10px;
  background-color: #9ae0ff;
}

.request-button {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}

.input-text {
  font-size: 1em;
}

.form-center {

}

@media (max-width:  1000px) {
  #request {
    justify-content: center;
  }

  .request-form {
    margin-left: 0;
  }

  .form-center {
    display: flex;
    justify-content: center;
  }
}

@media (max-width:  600px) {
  .request-form {
    max-width: 100%;
  }

  .request-button {
    
  }
}
