.review-card {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.review-image {
  width: 350px;
  border-radius: 10px;
}

.review-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

@media (max-width: 900px) {
  .review-card {
    flex-direction: column;
    align-items: start;
  }

  .review-description {
    padding-top: 20px;
    padding-left: 0;
  }
}
