.team-card {
  margin: 50px 10px 0 10px;
  display: flex;
  flex-direction: row;
}

.team-image {
  float: right;
}

.team-photo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #cccccc;
}

.team-description {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

@media (max-width: 1000px) {
  .team-description {
    width: 100%;
  }
}
